<?xml version="1.0" encoding="UTF-8"?>
<!-- © Copyright 2025-2026 Olivier Planson. All rights reserved. Reproduction prohibited. Made with IBM Bob. -->
<server description="Account Service">
    <featureManager>
        <feature>webProfile-10.0</feature>
        <feature>microProfile-6.0</feature>
    </featureManager>

    <variable name="http.port" defaultValue="9082"/>
    <variable name="https.port" defaultValue="9445"/>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="${http.port}"
                  httpsPort="${https.port}"/>

    <!-- TODO: Configure PostgreSQL datasource -->
    <!-- TODO: Configure MicroProfile Rest Client for Client Service -->
    <!-- Hint: Use mpRestClient element with url property -->
    
    <mpMetrics authentication="false"/>

    <webApplication location="account-service.war" contextRoot="/">
        <classloader apiTypeVisibility="+third-party"/>
    </webApplication>

    <logging traceSpecification="*=info:com.bank.*=fine"/>
</server>

<!-- Made with Bob -->
